{% extends 'base.html' %}

{% block head %}
<title> New Post in Georg Blog </title>
{% endblock %}

{% block body %}
<h3>Creating a new Post</h3>
<hr>
<div>
    <h3 style="display: inline;">New Post</h3>
    <a style="display: inline;" class="btn btn-danger float-right" href="/posts"> Go Back</a>
</div>
<hr>
    <form class="form my-2 my-md-0" action="/posts/new" method="POST">
        <input class="form-control" type="text" name="title" id="title" placeholder="Post Title">
        <input style="margin-top: 10px;" class="form-control" type="text" name="author" id="author" placeholder="Author">
        <textarea style="margin-top: 10px;" class="form-control" type="text" name="content" rows="3" id="content" placeholder="Post Content"></textarea>
        <input style="margin-top: 10px;" class="btn btn-outline-secondary" type="submit" value="Post">
    </form>

{% endblock %}